@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


/* *{
  background-color: #e31914;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

h1{
  font-family: 'Bubblegum Sans', cursive;
  text-align: center;
  padding-bottom: 10px;
  margin: 0px;
}

#welcome-waldo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top:0;
}

.calibrate{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  font-family: 'Oswald', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  width: 15%;
}

.calibrate:hover{
  color:#000000;
  transform: translate(-50%, -5%) scale(1.2);
  transition: linear 0.2s;
  cursor: pointer;
}

#calibrateForReal {
  position: fixed;
  background-color: #FF9B50;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 3rem;
  text-align: center;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#goToGame{
  position: fixed;
  background-color: #FF9B50;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 3rem;
  text-align: center;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  position: absolute;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #000;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-right {
  position: fixed;
  bottom: 0%;
  right: 0%;

}
.centered-div {
  position: fixed;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 3rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#decoration1{
  position:fixed;
  top:10%;
  left:10%;
  height:20%;
  width:10%;
}
#decoration2{
  position:fixed;
  top:30%;
  left:80%;
  height:20%;
  width:10%;
}
#decoration3{
  position:fixed;
  top:70%;
  left:20%;
  height:20%;
  width:10%;
}
#decoration4{
  position:fixed;
  top:60%;
  left:70%;
  height:20%;
  width:10%;
}
#decoration5{
  position:fixed;
  top:45%;
  left:5%;
  height:20%;
  width:10%;
}
#decoration6{
  position:fixed;
  top:5%;
  left:65%;
  height:20%;
  width:10%;
}
#decoration7{
  position:fixed;
  top:70%;
  left: 85%;
  height:20%;
  width:10%;
}
#decoration8{
  position:fixed;
  top:10%;
  left:40%;
  height:20%;
  width:10%;
}
#hitbox{
  background: none;

  position: absolute;
  height:75px;
  width:40px;
  top: 34%;
  left: 60%;
  z-index: 1;
}
.imageGameOver{
  height: 100vh;
  margin:auto;
}

#magGlass {
  background: none;
  height: 150px;
  width: 150px;
  top: 45%;
  left: 45%;
  position: fixed;
  z-index: 2;
}

.playscreen {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #FF9B50;
}

.canvasContainer {
  height: 100%;
  width: 100%;
  padding: 40px;
}

.waldoImage {
  width: 100%;
  height: 100%;
  background-image: url('./waldo1.jpg');
  object-fit: cover;
}

.waldoHeadshotContainer {
  position: absolute;
  left: 10px;
  top: 10px;
}

.waldoHeadshot {
  width: 100px;
  height: 100px;
}

.dot {
  width: 40px;
  height: 40px;
  background-color: #FF9B50;
  position: absolute;
  border-radius: 50%;
  opacity: 50%;
  z-index: 3;
}

.line {
  height: 0px;
  width: 0px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  z-index: 3;
}

.homepage {
  width: 100%;
  height: 100%;
  background-image: url('./odlaw.png');
  background-size: cover;
}